/*****************************************************
Project Name: Personal Music Library
Group #: 1
Contributor(s): Najee Searcy
Document Description: This document contains CSS definitions for all pages
that utilize tables and grids.
******************************************************/
@font-face {
    font-family: myFirstFont;
    src: url("Panton-BlackCaps.otf");
}

@font-face {
    font-family: Font2;
    src: url("Panton-BlackitalicCaps.otf");
}

* {
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(to bottom, #a8ba9a, #7fa165, #5b873a, #576e45, #5b873a, #576e45); */
    background-image: linear-gradient(to bottom, #a8ba9a, #7fa165, #5b873a, #5b873a, #576e45); 
    /* background-image: linear-gradient(#9FA659, #797641, #4B4C2C); */
}

.row::after {
    content: "";
    clear:both;
    display:table;
}

.column {
	position:relative;
    float:left;
    width: 33.33%;
    padding: 10px;
}

.column:hover .image {
    opacity: 0.5;  
    transform: scale(0.95); 
}

.column:hover .middle {
    opacity: 1;
}

.activePlayerImg {
	border-radius: 4px;
    box-shadow: inset 0 0 30px #e329e3, 0 0 30px #e329e3;
    filter: blur(10px);
}
.delImg {
	/*box-shadow: 0px 0px 25px #ff0000;
	box-shadow: 0px 0px 40px #ff0000; */
    border-radius: 4px;
    box-shadow: inset 0 0 30px #f00, 0 0 30px #f00;
}

.modImg {
	border-radius: 4px;
    box-shadow: inset 0 0 30px #2883eb, 0 0 30px #2883eb;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  -webkit-user-drag: none;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.sub {
    display: none;
    width:200px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#otext{
    position: absolute;
    top: 50%;
    left: 50%;
/*    font-size: 50px;*/
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    user-select: none;
}

table#t2 {
    border-collapse: collapse;
}

#t2 tr {
    text-align: justify;
    border-top: 1 px solid #fff;
}

#t2 tr:hover {
    background-color: lightblue;
}

#t2 th, #t2 td {
    padding: 10px 5px;
    font-family: myFirstFont;
}


#t2 td:hover {
    cursor: pointer;
}

table#tblDEL {
    border-collapse: collapse;
}

#tblDEL tr {
    text-align: justify;
    border-top: 1 px solid #fff;
}

#tblDEL tr:hover {
    background-color: lightcoral;
}

#tblDEL th, #tblDEL td {
    padding: 10px 5px;
    font-family: Font2;
}


#tblDEL td:hover {
    cursor: pointer;
}

input {
	outline:none;
}

 .YT{
	display:none;
}

table#tblMOD {
    border-collapse: collapse;
}

#tblMOD tr {
    text-align: justify;
    border-top: 1 px solid #fff;
}

#tblMOD tr:hover {
    background-color: lightblue;
}

#tblMOD th, #tblDEL td {
    padding: 10px 5px;
    font-family: Font2;
}


#tblMOD td:hover {
    cursor: pointer;
}

#welcome {
	font-family: Helvetica;
	font-size: 28px;
}